p.desc {
  color: var(--c-text-sub);
  font-size: 14px;
  margin-top: -20px !important;
}

:not(pre)>code {
  font-family: "ui-monospace", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation-Mono", "Courier-New", monospace;
  font-size: 0.875em;
  font-weight: 600;
  color: var(--c-text);
  background: transparent;
  padding: 0;
  border-radius: 0;
}

// :not(pre) > code::before,
// :not(pre) > code::after {
//   content: "`";
// }

:not(pre)>code {
  /* font-family: "ui-monospace", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation-Mono", "Courier-New", monospace; */
  // font-size: 0.85em;
  font-weight: 600;
  /* color: var(--c-text); */
  /* background: transparent; */
  /* padding: 0; */
  /* border-radius: 0; */
  font-family: var(--font-family-code);
  color: var(--inline-code-color);
  padding: .25rem .5rem;
  margin: 0;
  // font-size: .85em;
  background-color: var(--inline-code-bg-color);
  border-radius: 3px;
  overflow-wrap: break-word;
  transition: background-color var(--t-color);
}

p a code {
  font-weight: 600;
}

p a code::before,
p a code::after {
  color: var(--c-text);
}

code {
  // font-family: var(--font-family-code);
  // color: var(--inline-code-color);
  // padding: .25rem .5rem;
  // margin: 0;
  // font-size: .85em;
  // background-color: var(--inline-code-bg-color);
  // border-radius: 3px;
  // overflow-wrap: break-word;
  // transition: background-color var(--t-color);
  background-color: #4c5680;
  border-radius: 3px;
  color: #96c2eb;
  display: inline;
  font-family: var(--font-family-code);
  font-size: 13.6px;
  line-height: 23.12px;
  padding: 4px 8px;
}

.opNav {
  right: 0;
}

@media (max-width: 1023px) {


  .hero-content .hero-avatar {
    display: flex;
  }

  .home-blog .hero .hero-content .hero-avatar {
    width: 100px;
    height: 100px;
  }

  .hero-bubble {
    display: none;
    width: 50px;
  }

  .hero-bubble__body {
    min-width: 50px;
    max-width: 50px;
    width: 50px;
  }

  .hero-bubble__body p {
    font-size: 10px;
  }
}


.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width: 11px;
}

.scroll::-webkit-scrollbar:horizontal {
  height: 7px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 0px;
  // border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: var(--inline-code-color);
  // scrollbar-color: var(--c-brand) var(--c-border);
}

body::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

#bodyContent {
  height: 750px;
  width: 1200px;
  background-color: #f1f1f1;
  padding: 24px;
  margin-right: 24px;
}